.footer {
    display: flex;
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    height: 20vh; /* Ajuste conforme necessário */
    background-color: black;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha os itens filhos verticalmente ao centro */
    gap: 1em;
}

.social_list {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px; /* Espaçamento entre os ícones */
}

.social_list li {
    display: inline-block;
    color: white;
}

.social_list svg {
    font-size: 1.5em;
    color: white;
}

.social_list svg:hover {
    color: blueviolet;
}

.link {
    color: white;
}

.copyright {
    margin-top: 1em;
    margin: 0;
    text-align: center; /* Alinha o texto ao centro */
    color: white;
}

.copyright span {
    font-weight: bold;
    color: blueviolet;
}