.logo {
    width: 50px;
}

.navbar {
    display: flex;
    background-color: black;
    padding: 1em;
}

.list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
}

.item {
    margin-left: 2em;
    padding: 0.5em;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a:hover {
    color: blueviolet;
}